* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  transition: .3s all ease-in-out;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 992px;
  padding: 25px;
}

.text-color {
  color: rgba(0,0,0,.7);
}

.heading {
  color: #1BB947;
  font-size: 38px;
}

.heading b {
  color: #1BB947;
  font-size: 48px;
  -webkit-text-stroke: 1px #1BB947;
}

.bg-heading {
  font-size: 150px;
  position: absolute;
  margin-top: 40px;
  opacity: .05;
  -webkit-text-stroke: 15px black;
  text-align: right;
  z-index: -1;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  color: #fff;
  background-color: #1BB947;
  border: 2px solid #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 20px;
  text-decoration: none;
  transition: .3s all ease-in-out;
}

.button:hover {
  background-color: #000;
  border: 2px solid #000;
}

.button:active {
  transform: scale(.98);
}

.button:focus {
  transform: scale(.98);
}

/*--- Navbar ---*/

.navbar {
  color: #e5e5e5;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,.5);
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 992px;
  align-items: center;
}

.nav-left {
  width: 100%;
  height: 100%;
  text-align: right;
  flex: 1;
}

.nav-right {
  font-weight: 100;
  width: 100%;
  height: 100%;
  padding: 25px 0;
  text-align: right;
  flex: 9;
}

.nav-right ul li {
  display: inline;
  list-style: none;
}

.nav-right ul li a {
  color: #e5e5e5;
  text-decoration:none;
  font-size: 14px;
  padding-left: 30px;
}

.nav-right ul li a:hover {
  color: #c5c5c5;
}

/*--- Jumbotron ---*/

.jumbotron {
  background-image: url(images/jumbo.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.jumbotron-container {
  margin-left: auto;
  margin-right: auto;
  width: 992px;
}

.jumbo_text {
  color: #e5e5e5;
  background-color: #1BB947;
  padding: 50px;
  position: absolute;
  width: 655px;
  top: 50%;
  transform: translateY(-50%);
}

.jumbo_text h1 {
  font-size: 75px;
}

.jumbo_text i {
  font-size: 12px;
}

.jumbo_text p {
  font-size: 12px;
  padding: 12px 0;
  width: 68%;
}

.jumbo_text ul li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

.jumbo_text ul li a {
  color: #e5e5e5;
  text-decoration: none;
}

.jumbo_text ul li a:hover {
  color: #c5c5c5;
}

.bg-black {
  background-color: #000;
  height: 525px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.box-1 {
  height: 250px;
  width: 250px;
  position: absolute;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  margin-left: -50px;
}

.box-2 {
  height: 250px;
  width: 250px;
  position: absolute;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #fff;
  margin-left: 750px;
  margin-top: 450px
}

/*--- About Me ---*/

.about-container {
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.about-text {
  margin-top: -150px;
}

.about-text .sub-heading {
  font-size: 69px;
  font-weight: 900;
  height: 220px;
  width: 600px;
  position: absolute;
  z-index: 1;
}

.about-text p {
  margin-top: 230px;
  margin-right: 25px;
  width: 482px;
  font-size: 14px;
  font-weight: 500;
}

.about-img {
  position: relative;
}

/*--- Skills ---*/

.skills-container {
  padding: 100px 0;
}

.skill {
  display: flex;
  padding: 0 0 35px 15px;
  margin-right: 50px;
}

.skill img {
  margin-right: 25px;
}

.skill div h5 {
  padding: 5px 0;
}

.skill div .bg-bar {
  background-color: #000;
  height: 17px;
  width: 373px;
}

.skill div .bg-bar .bar {
  height: 17px;
  z-index: 10;
}

.html {
  background-color: #ff4b00;
  width: 95%;
}

.css {
  background-color: #2196f3;
  width: 90%;
}

.javascript {
  background-color: #ffdf00;
  width: 20%;
}

.php {
  background-color: #777bb3;
  width: 35%;
}

.photoshop {
  background-color: #00a9ff;
  width: 80%;
}

.illutrator {
  background-color: #ff9a00;
  width: 65%;
}

.figma {
  background-color: #00cf7f;
  width: 85%;
}

.bootstrap {
  background-color: #563d7c;
  width: 95%;
}

/*--- Portfolio ---*/

.portfolio-container {
  padding: 50px 0;
}

.portfolio-content .col-3 {
  width: 300.666666px;
  padding: 15px;
}

.portfolio-content .row-3 a {
  text-decoration: none;
}

.portfolio-content .col-3 b {
  color: #fff;
  background-color: rgba(27,185,71,.7);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  top: -50%;
  left: 95px;
  padding: 15px 20px;
  border: 2px solid #fff;
  transition: .3s all ease-in-out;
}

.portfolio-content .col-3 b:hover {
  top: -51%;
  left: 1px;
  padding: 111.666px 114px;
  border: none;
  background-color: rgba(0,0,0,.9);
  backdrop-filter: blur(15px);
}

/*--- Get In touch ---*/

.bg-getintouch {
  background-color: #1BB947;
  padding: 50px 0;
}

.bg-heading-getintouch {
  font-size: 150px;
  position: absolute;
  margin-top: 40px;
  opacity: .1;
  -webkit-text-stroke: 15px #fff;
  text-align: right;
  color: #fff;
  text-align: left;
}

.text-light {
  color: rgba(255,255,255,1);
}

.text-light b {
  color: rgba(255,255,255,1);
  -webkit-text-stroke: 1px #fff;
}

.getintouch-container ul {
  padding: 0 0 0 15px;
}

.getintouch-container ul li {
  list-style: none;
  padding: 0 0 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.getintouch-container ul li i {
  color: #fff;
  font-size: 35px;
  padding: 10px 5px 0 0;
  position: absolute;
  -webkit-text-stroke: 1px #fff;
  margin-left: -20px;
  opacity: .15;
}

.getintouch-container ul li p {
  font-weight: 100;
  font-size: 12px;
  color: #e5e5e5;
  padding: 5px 0;
}

.contact-form {
  margin-top: 170px;
}

.contact-form input, .contact-form textarea {
  font-size: 16px;
  font-weight: 600;
  font-family: 'ubuntu';
  padding: 15px 15px 35px;
  margin: 10px 0;
  width: calc(100% - 45px);
  border: 0;
  transition: .2s all ease-in-out;
}

.contact-form input:hover, .contact-form textarea:hover {
  font-weight: 100;
  background-color: #fff;
}

.contact-form input:active, .contact-form textarea:active {
  font-weight: 100;
  background-color: #fff;
}

/*--- Footer ---*/

footer {
  background-color: #1BB947;
  font-size: 10px;
  color: #fff;
  padding: 0 25px 25px;
  text-align: center;
  font-weight: 100;
}

footer ul {
  padding: 20px 0;
}

footer ul li {
  display: inline;
  padding: 10px;
  font-weight: 100;
}

footer ul li a {
  color: #e5e5e5;
  font-size: 12px;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;
  opacity: .5;
}
