/* --- Main Styling --- */

* {
  padding: 0;
  margin: 0;
}

body {
  color: #030027;
  font-family: 'ubuntu';
  background-image: url(images/bg-intro.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: grid;
}

button {
  font-family: 'ubuntu';
}

.button {
  color: #DB7C26;
  font-weight: 900;
  text-decoration: none;
  background-color: #030027;
  padding: 15px 30px;
  border-radius: 25px;
  transition: .2s all ease-in-out;
  border: none;
  position: relative;
}

.button:hover {
  color:#030027;
  background-color: #DB7C26;
}

.heading {
  font-weight: 900;
  margin-bottom: 25px;
  font-size: 25px;
}

.content {
  background: linear-gradient(90deg, rgba(225,225,225,1), rgba(225,225,225,1));
}

/* --- Navigation --- */

.navbar {
  background: linear-gradient(135deg, rgba(219,124,38,.5), rgba(219,124,38,.5));
  backdrop-filter: blur(5px);
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgb(219,124,38,.2);
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}

nav .brand {
  color: #030027;
  flex: 1;
  text-decoration: none;
  transition: .2s all ease-in-out;
}

.brand:hover {
  letter-spacing: 2px;
}

#navigation {
  display: none;
}

.navigation li {
  display: inline;
  list-style: none;
  padding-left: 40px;
}

.navigation li a {
  color: #030027;
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  transition: .3s all ease-in-out;
}

.navigation li a:hover {
  color: #DB7C26;
}

.bars {
  background: none;
  border: none;
  cursor: pointer;
}

.bars-lines li {
  list-style: none;
  opacity: 1;
}

.bars {
  position: absolute;
  right: 50px;
  z-index: 10;
  display: none;
}

.line1, .line2, .line3 {
  background-color: #030027;
  width: 25px;
  height: 3px;
  border-radius: 1.5px;
  position: absolute;
  transition: .3s all ease-in-out;
}

.line1 {
  margin-top: -8px;
}

.line3 {
  margin-top: 8px;
}

.line1.show {
  margin-top: 0;
  transform: rotate(45deg);
}

.line2.show {
  display: none;
}

.line3.show {
  margin-top: 0;
  transform: rotate(135deg);
}

.icon_img {
  width: 50px;
}

.return {
  background-color: #DB7C26;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 9;
}

.return a {
  color: #030027;
  font-size: 20px;
  line-height: 20px;
  padding-top: 15px;
  text-decoration: none;
}

/* --- Jumbotron --- */

.jumbotron {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background: linear-gradient(135deg, rgba(219,124,38,.5), rgba(3,0,39,.9));
  backdrop-filter: blur(5px);
  z-index: 9;
}

.jumbo_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbo_heading {
  font-size: 105px;
  margin-bottom: 15px;
}

.jumbo_text p {
  font-size: 12px;
  width: 50%;
  margin-bottom: 15px;
}

.social_media ul li {
  font-size: 18px;
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.social_media a {
  color: rgba(3,0,39,1);
  text-decoration: none;
  transition: .2s all ease-in-out;
}

.social_media a:hover {
  color: #DB7C26;
}

/* --- about --- */

.bg-about {
  padding: 50px 0;
}

.bg-about .row {
  align-items: center;
  grid-template-columns: 60% 40%;
}

.bg-about h5 {
  font-size: 15px;
}

.bg-about p {
  font-size: 13px;
}

.bg-about .sub-heading {
  font-size: 70px;
}

.bg-about img {
  width: 100%;
}

/* --- skills --- */

.bg-skills {
  padding: 0 0 50px;
  padding-top: calc(50px + 50px);
}

.bg-skills .row {
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.bg-skills .row .skill {
  display: flex;
  margin-bottom: 30px;
}

.bg-skills .row .skill h5 {
  margin: 5px 0;
}

.bg-skills .skill .skill_icon {
  margin-left: 15px;
}

.bg-skills .bg-bar {
  background-color: #030027;
  width: calc(540px - 90px);
  height: 15px;
  border-radius: 7.5px;
}

.bg-skills .bg-bar .bar {
  height: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.html {
  background-color: #ff4b00;
  width: 95%;
}

.css {
  background-color: #2196f3;
  width: 93%;
}

.javascript {
  background-color: #ffdf00;
  width: 18%;
}

.php {
  background-color: #777bb3;
  width: 15%;
}

.git {
  background-color: #F4511E;
  width: 87%;
}

.photoshop {
  background-color: #00a9ff;
  width: 85%;
}

.illutrator {
  background-color: #ff9a00;
  width: 60%;
}

.xd {
  background-color: #ff61f6;
  width: 75%;
}

.figma {
  background-color: #00cf7f;
  width: 95%;
}

.bootstrap {
  background-color: #563d7c;
  width: 90%;
}

/* --- Portfolio --- */

.bg-portfolio {
  padding: 50px 0;
  padding-top: calc(50px + 50px);
}

.portfolio .row {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  text-align: center;
}

.portfolio .col {
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  padding: 0;
}

.portfolio_info {
  font-size: 15px;
  width: calc(100% - 0);
  height: calc(100% - 0);
  text-align: left;
  padding: 120px 25px 75px;
  background: rgb(3,0,39,.75);
  backdrop-filter: blur(0px);
  border: 1px solid rgb(219, 124, 38, .2);
  border-radius: 25px;
  text-align: center;
  transition: .3s all ease-in-out;
  opacity: 0;
}

.portfolio_info:hover {
  background: rgba(3,0,41,.9);
  opacity: 1;
}

.portfolio_info p {
  font-size: 12px;
  color: #DB7C26;
  margin-bottom: 10px;
}

.portfolio_info a {
  font-size: 12px;
  color: #e1e1e1;
  transition: .2s all ease-in-out;
}

.portfolio_info a:hover {
  color: #DB7C26;
}

.portfolio .port-1 {
  background-image: url(images/122.jpg);
  background-position: center;
  background-size: cover;
}

.portfolio .port-2 {
  background-image: url(images/123.jpg);
  background-position: center;
  background-size: cover;
}

.portfolio .port-3 {
  background-image: url(images/179.jpg);
  background-position: center;
  background-size: cover;
}



/* --- Contact/ --- */
.bg-getintouch {
  background: linear-gradient(45deg, rgba(255,255,255,.7), rgba(255,255,255,1));
  backdrop-filter: blur(15px);
  padding: 75px 25px;
}

.bg-contact {
  background-image: url(images/bg-intro.png);
  background-position: center;
  border-top: 1px solid #030027;
}

.bg-getintouch .row {
  grid-template-columns: 1fr 1fr ;
  gap: 25px;
}

.bg-getintouch ul li {
  list-style: none;
  margin-bottom: 15px;
  font-weight: 600;
}

.bg-getintouch ul li i {
  font-size: 30px;
  position: absolute;
  margin: 10px 0 0 -15px;
  opacity: .2;
}

.bg-getintouch ul p {
  font-size: 12px;
  font-weight: 100;
  margin-top: 5px;
}

.contact-form input, .contact-form textarea {
  font-family: 'ubuntu';
  font-size: 13px;
  padding: 15px;
  width: calc(100% - 30px);
  margin-bottom: 15px;
  border-radius: 25px;
  border: none;
}

/* --- Footer --- */
footer {
  color: rgba(219, 124, 38, .8);
  font-size: 10px;
  font-weight: 100;
  background-color: #030027;
  text-align: center;
  padding: 30px 0;
}
