@media (max-width: 1199px) {

    .container {
        width: 100%;
    }

    .heading {
        margin-bottom: 15px;
    }

    body {
        overflow-x: hidden;
    }

    /* --- Jumbotron --- */

    nav {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    
    /* --- Jumbotron --- */

    .jumbotron {
        width: calc(100% - 30px);
        z-index: 9;
    }

    .jumbo_heading {
        font-size: 75px;
        margin-bottom: 15px;
    }
    
    .jumbotron {
        padding: 0 15px;
    }

    .jumbo_text p {
        width: auto;
      }

    /* --- about --- */

    .bg-about {
        padding: 50px 15px;
        width: auto;
    }

    .bg-about .row {
        grid-template-columns: 1fr 1fr;
    }

    .bg-about .sub-heading {
        font-size: 40px;
    }

    /* --- skills --- */

    .bg-skills {
        padding: 50px 15px;
    }

    .bg-skills .row {
        gap: 30px;
    }

    .bg-skills .bg-bar {
        width: calc(50vw - 105px);
    }

    /* --- Portfolio --- */

    .bg-portfolio {
        padding: 50px 15px;
    }

    /* --- Contact --- */

    .bg-getintouch {
        padding: 50px 15px;
    }

    .bg-getintouch .row {
        padding: 15px
    }
}

@media (max-width: 767px) {

    body {
        overflow-x: hidden;
    }

    /* --- Navigation --- */

    .navbar {
        position: fixed;
    }

    .navigation {
        position: fixed;
        width: calc(100% - 70px);
        height: 100vh;
        right: -100%;
        top: 0;
        padding-top: 70px;
        background-color: rgba(219,124,38,1);
        z-index: 10;
        transition: .5s all ease-in-out;
    }

    .navigation.show {
        right: 0;
    }

    .navigation li {
        display: block;
        height: 50px;
        align-items: center;
        padding-left: 30px;
    }

    .navigation li a {
        font-size: 15px;
        font-weight: 600;
        width: auto;
        padding: 15px 0;
        line-height: 20px;
    }

    .navigation li a:hover {
        color: rgb(3, 0, 39, .3);
        padding-left: 20px;
    }

    .bars {
        display: block;
    }

    /* --- Jumbotron --- */

    .jumbotron {
        height: 100vh;
    }

    .jumbo_heading {
        font-size: 50px;
    }

    .row {
        display: block;
    }

    .row .col {
        margin: 0 0 25px;
    }

    /* --- about --- */

    .bg-about {
        padding: 20px 15px;
    }

    /* --- skills --- */

    .bg-skills {
        padding: 20px 15px;
    }

    .bg-skills .bg-bar {
        width: calc(100vw - 110px);
    }

    /* --- Portfolio --- */

    .bg-portfolio {
        padding: 20px 15px;
    }

    /* --- Contact --- */

    .bg-getintouch {
        padding: 20px 15px;
    }

}