@media (max-width: 1199px) {

    .container {
        width: 100%;
    }

    .heading {
        margin-bottom: 15px;
    }

    nav {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    
    /* --- Jumbotron --- */

    .jumbotron {
        width: calc(100% - 30px);
    }

    .jumbo_heading {
        font-size: 75px;
        margin-bottom: 15px;
    }
    
    .jumbotron {
        padding: 0 15px;
    }

    .jumbo_text p {
        width: auto;
      }

    /* --- about --- */

    .bg-about {
        padding: 50px 15px;
        width: auto;
    }

    .bg-about .row {
        grid-template-columns: 1fr 1fr;
    }

    .bg-about .sub-heading {
        font-size: 40px;
    }

    /* --- skills --- */

    .bg-skills {
        padding: 50px 15px;
    }

    .bg-skills .row {
        gap: 30px;
    }

    .bg-skills .bg-bar {
        width: calc(50vw - 105px);
    }

    /* --- Portfolio --- */

    .bg-portfolio {
        padding: 50px 15px;
    }

    /* --- Contact --- */

    .bg-getintouch {
        padding: 50px 15px;
    }

    .bg-getintouch .row {
        padding: 15px
    }
}

@media (max-width: 767px) {

    .jumbo_heading {
        font-size: 50px;
    }

    .row {
        display: block;
    }

    .row .col {
        margin: 0 0 25px;
    }

    .nav-right span {
        display: none;
    }

    .nav-right i {
        font-size: 18px;
        display: inline;
    }

    /* --- about --- */

    .bg-about {
        padding: 20px 15px;
    }

    /* --- skills --- */

    .bg-skills {
        padding: 20px 15px;
    }

    .bg-skills .bg-bar {
        width: calc(100vw - 110px);
    }

    /* --- Portfolio --- */

    .bg-portfolio {
        padding: 20px 15px;
    }

    /* --- Contact --- */

    .bg-getintouch {
        padding: 20px 15px;
    }

}