/* --------------------------------------------------------------------------------------

R O O T

-------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --gray100-50: rgb(255, 255, 255, 0.5);
  --gray900-50: rgb(13, 13, 13, 0.5);
  --gray100: rgb(255, 255, 255);
  --gray300: rgb(210, 210, 210);
  --gray500: rgb(185, 185, 185);
  --gray700: rgb(88, 88, 88);
  --gray900: rgb(13, 13, 13);
  --box-shadow: 0 5px 10px rgb(0, 0, 0, 0.25);
  --yellow900: rgb(232, 210, 16);
  --blue900: rgb(27, 255, 192);
  --yellow900-grad: linear-gradient(90deg, var(--yellow900), rgb(246, 170, 28));
  --blue900-grad: linear-gradient(135deg, var(--blue900), rgb(18, 102, 79));
}

.light-active {
  --gray100: rgb(13, 13, 13);
  --gray300: rgb(65, 65, 65);
  --gray500: rgb(155, 155, 155);
  --gray700: rgb(210, 210, 210);
  --gray900: rgb(255, 255, 255);
  --gray100-50: rgb(13, 13, 13, 0.5);
  --gray900-50: rgb(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--gray900);
}

::-webkit-scrollbar-thumb {
  background: var(--yellow900-grad);
}

body {
  color: var(--gray100);
  font-family: "Kanit", sans-serif;
  background: var(--gray900);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  border-bottom: var(--gray900);
}

p {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

/* --------------------------------------------------------------------------------------

R O O T

-------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------

S E T T I N G S

-------------------------------------------------------------------------------------- */

.media {
  display: flex;
  margin: 25px -5px;
  flex-wrap: wrap;
}

.media a {
  font-size: 20px;
  text-decoration: none;
  color: var(--gray500);
  transition: 0.3s ease;
  margin: 0 5px;
  padding: 0 5px;
}

.media a:hover {
  color: var(--gray700);
}

nav .media {
  position: absolute;
  right: 160px;
  top: -4px;
}

.hidden {
  display: none;
  transition: 0.3s ease;
}

.list-none {
  list-style: none;
}

ul a {
  display: block;
}

ul li {
  font-weight: 200;
  margin-bottom: 25px;
}

.header-large {
  font-size: 75px;
}

.header-med {
  font-size: 50px;
}

.header-small {
  font-size: 40px;
}

.text-large {
  font-size: 35px;
}

.text-med {
  font-size: 25px;
}

.text-small {
  font-size: 16px;
}

.color-900 {
  color: var(--gray900);
}

.color-700 {
  color: var(--gray700);
}

.color-500 {
  color: var(--gray500);
}

.color-300 {
  color: var(--gray300);
}

.color-100 {
  color: var(--gray100);
}

.text-center {
  text-align: center;
}

.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.button {
  color: var(--gray100);
  text-decoration: none;
  position: absolute;
  width: 140px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  border: 1px solid var(--gray100);
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.button a {
  color: var(--gray100);
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  padding: 10px 2px;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.3s ease;
  text-transform: capitalize;
}

.button::before {
  content: "";
  background: var(--gray100);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  transform: scale(0);
  transition: 0.3s ease;
  box-shadow: var(--box-shadow);
}

.button:hover::before {
  transform: scale(1.15);
}

.button:hover a {
  color: var(--gray900);
}

.contained {
  position: relative;
  height: 100%;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}

.contained-full {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--blue900);
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  opacity: 0.7;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* --------------------------------------------------------------------------------------

S E T T I N G S

-------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------

N A V I G A T I O N

-------------------------------------------------------------------------------------- */

nav {
  background: var(--gray900);
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 10;
}

.brand-name {
  color: var(--gray100);
  font-size: 30px;
  font-weight: 200;
}

.left {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.bars {
  position: absolute;
  top: 50%;
  right: 25px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);

  transition: 0.3s;
}

.bars span:nth-child(1) {
  background: var(--gray100);
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% - 5px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.3s;
}

.bars span:nth-child(2) {
  background: var(--gray100);
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% + 5px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.3s;
}

.bars-active span:nth-child(1) {
  top: calc(50%);
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.bars-active span:nth-child(2) {
  top: calc(50%);
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

.theme-toggle {
  font-size: 18px;
  position: absolute;
  width: 60px;
  height: 30px;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--gray100);
  border-radius: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.3s;
}

.theme-toggle .light,
.theme-toggle .dark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transition: 0.3s;
}

.theme-toggle .light {
  left: 7px;
}

.theme-toggle .dark {
  right: 7px;
}

.theme-toggle .theme-active {
  transform: translateY(-50%) scale(0);
}

.nav-menu {
  background: var(--gray900);
  position: fixed;
  top: 0;
  left: -500px;
  width: 500px;
  height: 100vh;
  z-index: 1;
  transition: 0.3s;
}

.nav-menu ul {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  list-style: none;
}

.nav-menu ul li {
  color: var(--gray100);
  font-weight: 200;
  font-size: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-menu:hover ul li {
  color: var(--gray700);
}

.nav-menu:hover ul li:hover {
  color: var(--gray100);
  padding-left: 15px;
}

.menu-active {
  left: 0;
}

/* --------------------------------------------------------------------------------------

N A V I G A T I O N

-------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------

S K I L L S

-------------------------------------------------------------------------------------- */

.skills .row {
  position: absolute;
  width: 500px;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  align-items: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.skill-card {
  position: relative;
  background: var(--gray900);
  font-size: 60px;
  padding: 7px 15px 7px 25px;
  display: grid;
  grid-template-columns: 60px calc(100% - 70px);
  gap: 30px;
  align-items: center;
  border: 1px solid var(--gray100);
  border-radius: 20px;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 1;
}

.skill-card::after {
  content: "";
  background: var(--yellow900-grad);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 19px;
  transition: 0.5s ease;
  transform: scale(0);
  z-index: -1;
  box-shadow: var(--box-shadow);
}

.skill-card:hover::after {
  transform: scale(1.1);
}

.skill-card:hover::before {
  transform: scale(1.1);
  animation: rotate 5s ease infinite;
}

.skill-card .skill-bg-bar {
  transition: 0.3s ease;
}

.skill-card:hover .skill-bg-bar {
  width: calc(100% - 30px);
  height: 15px;
  border: 1px solid var(--gray100);
  margin-top: 10px;
  border-radius: 7.5px;
  padding: 1px;
}

.skill-info h5 {
  font-size: 18px;
  font-weight: 300;
}

.skill-bar {
  background: var(--gray100);
  width: 0;
  height: 100%;
  border-radius: 5.5px;
  transition: 1s ease;
  transition-delay: 0.5s;
  opacity: 0;
}

.skill-card:hover .html {
  width: 95%;
  opacity: 1;
}

.skill-card:hover .git {
  width: 85%;
  opacity: 1;
}

.skill-card:hover .css {
  width: 95%;
  opacity: 1;
}

.skill-card:hover .bootstrap {
  width: 97%;
  opacity: 1;
}

.skill-card:hover .javascript {
  width: 75%;
  opacity: 1;
}

.skill-card:hover .react {
  width: 25%;
  opacity: 1;
}

.skill-card:hover .php {
  width: 50%;
  opacity: 1;
}

.skill-card:hover .python {
  width: 70%;
  opacity: 1;
}

/* --------------------------------------------------------------------------------------

S K I L L S

-------------------------------------------------------------------------------------- */

.portfolio-card {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease;
}

.portfolio-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: inherit;
}

.portfolio-card .portfolio-info {
  background: var(--gray900-50);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
  border-radius: inherit;
  opacity: 0;
  transition: 0.5s ease;
}

.portfolio-card .portfolio-info p {
  color: var(--gray100);
  position: absolute;
  top: 15px;
}

.portfolio-card:hover .portfolio-info {
  opacity: 1;
}

.portfolio-card .portfolio-info .button {
  transform: translateX(-50%) translateY(none);
  bottom: 15px;
}
